.card-event-admin {
    width: 250px;
    height: 300px;
    color: #333;
    border: solid 2px #FD5757;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 20px;
}

.header {
  border: solid 2px #FD5757;
  height: 70px;
  width: 250px;
  color: #fff;
  margin: 0;
  background-color: #FD5757;
  border-radius: 20px 20px 0 0;
  margin: -2px;
}

.header h3 {
  padding-top: 10px;
}

    
.primary-content {
      margin-top: 10px;  
    }
    
.primary-content p {
      font-size: 14px;
    }
    
.date-time {
      font-weight: bold;
    }
  
.buttons {
    margin: 0 auto;
    margin-top: 70px;
}

.buttons button {
  border-radius: 30px;
  padding: 10px 12px;;
}
  
.delete {
    background-color: grey;
    margin-right: 35px;
}
    
.edit {
  background-color: #47D278;
}

  