<section class="card-event-member">
    <div class="component-wrapper card-component-wrapper">
      <div class="mdc-card demo-card card-event-admin">
        <div class="header">
          <h3>{{title}}</h3>                  
        </div>
        <div class="primary-content">
              <p class="date-time">{{date}}</p>
              <p class="date-time">{{time}}</p>
              <p>{{place}}</p>
              <br><br>
              <p><u>J'apporte</u> : {{listItems}}</p>
        </div>                  
       </div>
    </div>
  </section>