
.register-container {
  display: flex;
  flex-direction: column;
  padding: 65px 40px;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
  color: #fff;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

.register-button {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #FD5757;
  background-color: #fff;
}

.register-button:hover {
    background-color: #fbc8c8 !important;
}
