<app-nav-component></app-nav-component>

<body>

    <div class="container">

      <div align="center">
        <div class="row" id="event-name">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="pink">
                <mat-icon>event</mat-icon>
                <p class="event-name">{{nameEvent}}</p>
                <p>{{dateEvent}}</p>
                <p>{{addressEvent}}</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        
      </div>

      <div class="cont4">
        <h3>Modifier les infos</h3>
        <mat-form-field>
          <input style matInput placeholder="{{nameEvent}}" [formControl]="eventname" required>
        </mat-form-field>
        <button mat-button color="#FD5757" (click)="editName()">Modifier le nom</button>
      </div>
      <div class="cont4">
        <mat-form-field>
          <input matInput [(ngModel)]="dateEvent" [matDatepicker]="picker" required>
          <mat-datepicker-toggle color="#FD5757" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-button color="#FD5757" (click)="editDate()">Modifier la date</button>
      </div>
      <div class="cont4">
        <mat-form-field>
          <input style matInput placeholder="{{addressEvent}}" [formControl]="eventaddress" required>
        </mat-form-field>
        <button mat-button color="#FD5757" (click)="editAddress()">Modifier l'adresse</button>

        <p>L'événement est-il public ?</p>
        <!-- Rounded switch -->
        <label class="switch">
          <input type="checkbox" id= "priv" value="getPrivacy()" (change)="editPrivacy()">
          <span class="slider round"></span>
        </label>
      </div>
      <br>
    </div>

</body>
