<app-nav-component></app-nav-component>

<body>
  <section>
    <div class="card-edit-event">
      <div class="header">
        <input style matInput placeholder="{{nameEvent}}" [formControl]="eventname">
        <button mat-button color="#FD5757" (click)="editName()">
          <span class="mdc-fab__icon material-icons header-edit">edit</span>
        </button>
      </div>
      
      <div class="primary-content">
        <br><br>
        <input class="address" style matInput placeholder="{{addressEvent}}" [formControl]="eventaddress">
        <button mat-button color="#FD5757" (click)="editAddress()">
          <span class="mdc-fab__icon material-icons edit">edit</span>
        </button>
        
        <input class="date" matInput [(ngModel)]="dateEvent" [matDatepicker]="picker" placeholder="{{dateEvent | date:'short'}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <button mat-button color="#FD5757" (click)="editDate()">
          <span class="mdc-fab__icon material-icons edit">edit</span>
        </button>
      </div>       
          
        <div class="buttons">
          <!-- select class active or non-active -->
          <div *ngIf="isPublic; else private">
            <button class="public active" (click)="editPrivacy()">
              Public
            </button>
            <button class="prive non-active" (click)="editPrivacy()">
              Privé
            </button>  
          </div>
          <ng-template #private>
            <button class="public non-active" (click)="editPrivacy()">
              Public
            </button>
            <button class="prive active" (click)="editPrivacy()">
              Privé
            </button>  
          </ng-template>
        </div>
     </div>
  </section>
</body>
