body {
  height: auto;
  width: 85.2%;
  margin-top: 63px;;
  margin-left: 250px;
  background-color: #fff;
}

.event-header {
  background-color: #FD5757;
  color: #fff;
  padding: 35px;
  margin: 0;
}

button {
  border: none;
}
  
  .title {
    font-size: 50px;
  }
  
  .date-time, .address {
    text-align: right;
  }
  
  .social {
    border-radius: 30px;
    padding: 10px 12px;
    margin-top: 15px;
    color: #fff;
  }
  
  .facebook, .twitter {
    color: #fff;
    font-weight: bold;
    padding: 10px 19px;
    font-size: 22px;
  }

  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }

  .twitter {
    background-color: #55acee;
  }

  .edit {
    float: right;
    background-color: #47D278;
  }

  .delete {
    float: right;
    background-color: grey;
  }

  /* List objects */

  .list-object {
    margin: 0 auto;
    width: 90%;
  }

  .list-object h2 {
    padding-left: 10px;
    color: #FD5757;
  }

  .empty {
    width: 70px;
  }

  .last {
    text-align: center;
  }

  .trash {
    color: grey;
    background: 0;
  }

  .plus {
    text-align: right;
  }

  .plus input {
    border-color: #FD5757;
    padding: 3px;
  }

  .status {
    padding: 10px;
    border-radius: 20px;
  }
  
  .green {
    height:1px;
    width:1px;
    background-color: #47D278;    
  }
  
  .red {
    height:1px;
    width:1px;
    background-color: #FD5757;
  }

  .orange {
    height:1px;
    width:1px;
    background-color: #FE985E;    
  }

  table {
    border-spacing: 0px;    
  }

  .first td {
    border-bottom: solid #FD5757 1px; 
    color: #FD5757;
  }

  .add-object td  {
    border: 0;
  }

  .add-object td input {
    border: 0;
    border-bottom: solid grey 1px; 
    padding: 10px;
  }

  .add {
    color: #FD5757;
    border: 0;
    background: 0;
    font-size: 26px;
  }

  th {
    border-top: solid 1px #FD5757;
    text-align: left;
    color: grey;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
  }

  td {
    padding: 10px;
    border-bottom: solid lightgrey 1px; 
  }

  .encours {
    display: block;
  }

  .encours td {
    width: 300px;
    padding: 10px;
  }