body {
  height: auto;
  width: 79%;
  margin-top: 6em;
  margin-left: 300px;
  background-color: #fff;
}

.container {
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.cont2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cont3 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    align-self: flex-end;
}

.cont4 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    align-self: baseline;
}

.grayBand{
  text-align: center;
  background-color: gray;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #2d2d2d;
  visibility: hidden;
}

input, mat-label, mat-select {
  background-color: #FD5757;
}

.masthead {
    height: 75%;

    padding-bottom: calc(10rem - 72px);
  /* background-color: #5dad5d; */
}

hr {
    max-width: 98%;
    border-width: 0.2rem;
    border-color: #f4623a;
    margin-bottom: 1.5rem;
    border-color: #fff;
    margin-top: 1.5rem;
}

mat-form-field {
    padding-right: 3em;
}

table {
   border-collapse: collapse;
}
tr.item-list-strike {
  border-bottom: 1pt solid black;
  border-top: 1pt solid black;
}
th {
  text-align: left;
  white-space: pre-wrap;
  padding-right: 2em;
}

.mat-checkbox-checked.selected-pay + .mat-checkbox.selected-bring + .mat-button + .linetrought{
  text-decoration: line-through;
}

.mat-checkbox.selected-pay + .mat-checkbox-checked.selected-bring + .mat-button + .linetrought{
  text-decoration: line-through;
}

.mat-checkbox{
  margin-right: 1em;
}

.cost{
  padding-left: 35em;
  font-size: large;
}
