body {
  height: auto;
  width: 79%;
  margin-top: 6em;
  margin-left: 300px;
  background-color: #fff;
}

#title .col-sm-3 {
  width: 33%;
}

#title #pink {
  color: #fff;
  width: 33%;
  background-color: #FD5757;
  text-align: center;
  padding: 15px 0px;
  border-radius: 10px;
}

#attributes .col-sm-6 {
  width: 50%;
}

.cont2 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cont3 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  align-self: flex-end;
}

.cont4 {
  flex: 0 0 80%;
  max-width: 80%;
  align-self: baseline;
}

#grayBandPrivacy{
  text-align: center;
  background-color: gray;
  font-size: 1.17em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #2d2d2d;
  visibility: hidden;
}

input, mat-label, mat-select {
  color: grey;
  border: solid 1px grey;
  padding: 5px;
}

.masthead {
  height: 75%;
  padding-bottom: calc(10rem - 72px);
}

hr {
  max-width: 98%;
  border-width: 0.2rem;
  border-color: #f4623a;
  margin-bottom: 1.5rem;
  border-color: #fff;
  margin-top: 1.5rem;
}

mat-form-field {
  padding-right: 3em;
}

table {
  border-collapse: collapse;
}
tr.item-list-strike {
  border-bottom: 1pt solid black;
  border-top: 1pt solid black;
}
th {
  text-align: left;
  white-space: pre-wrap;
  padding-right: 2em;
}

#square-pink {
  color: #fff;
  background-color: #FD5757;
  border: solid 1px #FD5757 !important;
}

#square-green {
  color: #fff;
  background-color: #5dad5d;
  border: solid 1px #5dad5d !important;
}

#object-list {
  color: #000;
}

.button-delete {
  background-color: grey;
  color: #fff;
}

.button-edit {
  background-color: #5dad5d; 
  color: #fff;
}

.mat-checkbox-checked.selected-pay + .mat-checkbox.selected-bring + .mat-button + .linetrought{
  text-decoration: line-through;
}

.mat-checkbox.selected-pay + .mat-checkbox-checked.selected-bring + .mat-button + .linetrought{
  text-decoration: line-through;
}

.mat-checkbox{
  margin-right: 1em;
}

.cost{
  text-align: right;
}
