<body>
    <app-nav-component></app-nav-component>

    <section class="masthead">
        <div class="grayBand" id="grayBandPrivacy">
            Cet événement est privé
        </div>

        <div class="container">
            <div class="cont3">
                <h1>{{nameEvent}}</h1>
                <button *ngIf="isOwner" class="delete" mat-stroked-button mat-icon-button (click)="delEvent()">
                    <mat-icon>delete_sweep</mat-icon>
                </button>
                <button *ngIf="isOwner" class="edit" mat-stroked-button mat-icon-button (click)="editEvent()">
                    <mat-icon>edit</mat-icon>
                </button>
                <hr>
            </div>

            <div class="cont4" *ngIf="isAdmin">
                Ajouter quelqu'un à l'évènement :
                <mat-form-field>
                    <input style matInput placeholder="Pseudo" [formControl]="pseudoInvit" required>
                </mat-form-field>
                <button mat-button mat-stroked-button color="primary" (click)="addPerson()">Ajouter à l'évènement</button>
            </div>
            <div class="cont4" *ngIf="isOwner">
                Admins de l'event : 
                <mat-form-field>
                    <mat-label>Admin</mat-label>
                    <mat-select [(value)]="selectedAdmin">
                        <mat-option *ngFor="let admin of admins" [value]="admin">
                            {{admin}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button mat-stroked-button color="primary" (click)="downAdmin()">Rétrograder</button>
                <button mat-button mat-stroked-button color="primary" (click)="delAdmin()">Retirer de l'event</button>
            </div>
            <div class="cont4" *ngIf="isAdmin">
                Membres de l'event : 
                <mat-form-field>
                    <mat-label>Membre</mat-label>
                    <mat-select [(value)]="selectedMember">
                        <mat-option *ngFor="let membre of membres" [value]="membre">
                            {{membre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button mat-stroked-button color="primary" (click)="upMember()">Passer Admin</button>
                <button mat-button mat-stroked-button color="primary" (click)="delMember()">Retirer de l'event</button>
                <hr>
            </div>

            <div class="cost">
                <td> Coût total: {{totalCost}} </td>
            </div>

            <div class="cont4" *ngIf="isAdmin">
                <mat-form-field>
                    <input style matInput placeholder="Nom de l'objet" [formControl]="needsname" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" min="1" value="1" style matInput placeholder="Prix" [formControl]="needsprice" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" min="1" value="1" style matInput placeholder="Quantité" [formControl]="needsquant" required>
                </mat-form-field>
                <button mat-button mat-stroked-button color="primary" (click)="createNeeds()">Ajouter l'objet</button>
            </div>

            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
                <tr class="item-list-strike" *ngFor="let item of itemList">
                    <td class="linetrought"> {{item.get('Name')}} </td>
                    <td class="linetrought"> {{item.get('Price')}} </td>
                    <td class="linetrought"> {{item.get('Quantity')}} </td>
                    <mat-checkbox class="selected-pay" [(ngModel)]="payed[item.id]"> Paye </mat-checkbox>
                    <mat-checkbox class="selected-bring" [(ngModel)]="gived[item.id]"> Apporte </mat-checkbox>
                    <button mat-button mat-stroked-button color="primary" (click)="bringItem(item)"> Confirmer</button>
                    <button class="delete" mat-stroked-button mat-icon-button (click)="delItem(item)">
                        <mat-icon>delete_sweep</mat-icon>
                    </button>
                </tr>
            </table>
        </div>
    </section>
</body>
