<app-nav-component></app-nav-component>

<body>

  <section class="event-header">
    <div class="title">{{nameEvent}}</div>
    <div class="private">événement privé</div> <!-- ou public ? -->

    <div class="date-time">
      <span>{{dateEvent | date: 'short'}}</span>
    </div>
    <!-- <div class="address">{{addressEvent}}</div> -->

    <!-- Facebook & Twitter -->
    <br>

    <button class="social twitter" (click)="sendTweet()">t</button>
    <meta property="og:url" content="https://watermelonapp.azurewebsites.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Watermelon" />
    <meta property="og:description" content="Partager vos événements sur Watermelon" />
    <meta property="og:image" content="https://watermelonapp.azurewebsites.net/favicon.ico" />
    <!-- Load Facebook SDK for JavaScript -->
    <span id="fb-root"></span>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <span data-href="https://watermelonapp.azurewebsites.net/" data-layout="button" data-size="large">
      <button class="social facebook">f
      </button>
    </span>
  
    <button class="social edit" *ngIf="isOwner" (click)="editEvent()">
      <span class="mdc-fab__icon material-icons">edit</span>
    </button>
    <button class="social delete" *ngIf="isOwner" (click)="delEvent()">
      <span class="mdc-fab__icon material-icons">delete</span>
    </button>
</section>
<br>

<section class="list-object">
    <h2>Liste d'objets</h2>
    <table width="100%">
        <tr>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Contribution</th>
            <th>Contributeur</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of itemList">
          <td> {{item.Name}} </td>
          <td> {{item.Price}} </td>
          <td> {{item.Quantity}} </td>
          <td></td>
          <td></td>
          <td style="text-align: right">
            <button *ngIf="isOwner" class="trash" (click)="delItem(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="isAdmin" class="first">
          <td colspan="6">Ajouter un objet</td>
        </tr>
        <tr *ngIf="isAdmin" class="add-object">
          <td><input placeholder="Nom de l'objet" [formControl]="needsname" required></td>
          <td><input type="number" min="1" value="1" placeholder="Prix" [formControl]="needsprice" required></td>
          <td><input type="number" min="1" value="1" placeholder="Quantité" [formControl]="needsquant" required></td>
          <td><!--Coût total : {{totalCost}}--></td>
          <td></td>
          <td class="plus">
            <button (click)="createNeeds()" class="add">+</button>
          </td>
      </tr>
    </table>
</section>

<br><br>
<section class="list-object">
    <h2>Liste des invité(e)s</h2>
        <table width="100%">
            <tr>
                <th>Pseudo</th>
                <th colspan="5"></th>
            </tr>
            <tr *ngFor="let membre of memberList">
              <td> {{membre}} </td>
              <td colspan="4"></td>
              <td style="text-align: right">
                <button *ngIf="isOwner" class="trash" (click)="delMember()">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
        </table>

        <br><br>
        <table width="300">
          <tr *ngIf="isAdmin" class="first">
            <td colspan="2"><b>Ajouter un(e) invité(e)</b></td>
          </tr>
          <tr *ngIf="isAdmin" class="add-object">
            <td><input placeholder="Pseudo" [formControl]="pseudoInvit" required></td>
            <td class="plus">
              <button (click)="addPerson()" class="add">+</button>
            </td>
          </tr>
        </table>
        <br><br>
        <table *ngIf="isAdmin" class="encours" width="300">
          <tr class="first">
            <td><b>Invitations en cours</b></td>
          </tr>
          <tr class="add-object" *ngFor="let invited of invites">
            <td>
              {{invited}}
            </td>
          </tr>
        </table>
    </section>
    <br><br><br>
</body>
