body {
    width: 79%;
    margin-top: 8em;
    margin-left: 200px;
    background-color: #fff;
}

.create{
    background-color: #47D278;
}

.event-name {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 2em;
}

.col-sm-1 {
    width: 10%;
}

#event-name #pink {
    color: #FD5757;
    width: 33%;
    background-color: #fff;
    border: solid 5px #FD5757;
    text-align: center;
    padding: 15px 0px;
    border-radius: 10px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

button {
    text-align: center;
}