<app-nav-component></app-nav-component>

<body>

    <div align="center">
        <div class="row" id="event-name">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="pink">
                <mat-icon>event</mat-icon>
                <p>Bienvenue sur</p>
                <p class="event-name">WATERMELON</p>
                <img src="favicon.ico" height="75px"/>
                <br><br>
                <div *ngIf="isLoggedIn">
                    <button mat-raised-button (click)="createEvent()">
                      Créer un événement
                    </button>
                </div>
                <br>
            </div>
            <div class="col-sm-1"></div>
        </div>  
    </div>

</body>

<!--
<header class="masthead">
    <div class="container">
        <div class="cont2">
            <div class="cont3">
                <h1>Watermelon</h1>
                <hr>
            </div>
            <div class="cont4">
                <p class="text1"><b>WaterMelon</b> vous permet de créer en toute simplicité de petits évènements comme une simple soirée entre amis, ou de bien plus grosse !</p>
            </div>
        </div>
    </div>
</header>

<section class="page-section">
    <div class="container">
        <div class="cont5">
            <div class="cont6">
                <h2 class="text2">Inscrivez vous pour en profiter dès maintenant !</h2>
                <hr>
                <p class="text3">Invitez en toute simplicité vos amis, collègue ou connaissance que vous souhaitez voir à votre évènements !</p>
                <div *ngIf="!isLoggedIn">
                    <button mat-raised-button (click)="Register()">
                        <span>S'enregistrer</span>
                    </button>
                </div>
                <div *ngIf="isLoggedIn">
                    <button mat-raised-button (click)="createEvent()">
                        Nouvel événement
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
-->