.alert {
    position: relative;
    justify-content: start;
    color: #333333;
    border: solid 2px #FD5757;
    border-radius: 20px;
    z-index: 1;
    width: 550px;
    margin: 0 auto;
    padding: 20px 40px;
}

.my-dialog-content {
    font-weight: bold; 
    text-align: justify;
}
  
footer {
    margin: 0 auto;
}

.close {
    font-weight: bold; 
    background-color: #FD5757;
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
}
  