<section class="card-discovery">
      <div class="card-event-admin">
        <div class="header">
          <h3>{{title}}</h3>                  
        </div>
        <div class="primary-content">
              <p class="date-time">{{date}}</p>
              <p class="date-time">{{time}}</p>
              <p>{{place}}</p>
        </div>                  
          <div class="buttons">
             <button class="mdc-fab icons dislike" aria-label="Favorite">
               <span class="mdc-fab__icon material-icons">clear</span>
             </button>
             <button class="mdc-fab icons like" aria-label="Favorite">
               <span class="mdc-fab__icon material-icons">done</span>
             </button>
          </div>
    </div>
  </section>