<app-nav-component ></app-nav-component>

<body>
  <div *ngFor="let notification of notificationList" class="container-all">
    <div *ngIf='notification.Type == "invitation"'>
      <section class="notif-invit-menu">
        <span class="notif-icons material-icons" aria-hidden="true">insert_invitation</span>
        <span class="notif-text"><b>{{notification.From}}</b> vous a invité(e) a son événement <b>{{eventNameList[notification.Id]}}</b></span>
      </section>
    </div>
    <div *ngIf='notification.Type != "invitation"'> 
      <section class="notif-info-menu">
        <span class="notif-icons material-icons" aria-hidden="true">info</span>
        <span class="notif-text">{{notification.About}}</span>
      </section>
    </div>

    <div *ngIf='notification.Type == "invitation"'>
        <br>
        <button class="notif accept" (click)="acceptInvite(notification)">Accepter</button>
        <button class="notif refuse" (click)="refuseInvite(notification)">Refuser</button>
        <br><br>
    </div>
    <div *ngIf='notification.Type != "invitation"'>
        <br>
        <button class="notif accept" (click)="validateNotif(notification)">OK</button>
        <br><br>
    </div>
  </div>  
  <br>
</body>
