<app-nav-component ></app-nav-component>

<body>
  <div *ngFor="let notification of notificationList" class="container-all">
    <mat-card class="events">
      <mat-card-title>
      </mat-card-title>
      <p *ngIf='notification.Type == "invitation"'>
        {{notification.Type}} de {{notification.From}} pour l'événement {{eventNameList[notification.Id]}}
      </p>
      <p *ngIf='notification.Type != "invitation"'> 
        {{notification.About}}
      </p>

      <mat-card-content *ngIf='notification.Type == "invitation"'>
        <br>
        <button class="answer-yes" (click)="acceptInvite(notification)">Accepter</button>
        <button class="answer-no" (click)="refuseInvite(notification)">Refuser</button>
        <br><br>
      </mat-card-content>
      <mat-card-content *ngIf='notification.Type != "invitation"'>
        <br>
        <button class="answer-yes" (click)="validateNotif(notification)">OK</button>
        <br><br>
      </mat-card-content>

    </mat-card>
    <br>
  </div>

</body>
