.notif-menu {
    position: relative;
    width: 400px;
    height: 380px;
    border: solid 2px #FD5757;
    border-radius: 20px 0px 20px 20px;
    z-index: 1;
}
    
    .notif-button{
      position: absolute;
      bottom: 0;
      height:30px;
      width: 404px;
      margin: -2px;
      color: white;
      background-color: #FD5757;
      border: solid 2px #FD5757;
      border-radius: 0px 0px 20px 20px;
    }