
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.example-icon {
  padding: 0 14px;
}

.main-nav {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
}

.example-sidenav {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #47D278;
} 

.mat-toolbar-main {
  margin-top: 50px;
  background-color: #47D278;
}

.nav-element {
  background-color: #47D278;
  color: #fff;
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
}

.nav-element:hover {
  background-color: rgba(71, 210, 118, 0.5);
}

button, button:active {
  border: none;
}

/* Search bar */

.top-nav {
  display: inline-block;
  background-color: #47D278;
  margin: none;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}

form, .bar, .div-dropdown, .search-button {
  display: inline-block;
  margin: 0;
}

.search-bar {
  display: inline-block;
  height: 40px;
  position: fixed;
  top: 15px;
  left: 700px;
}

.search-bar input {
  position: fixed;
  height: 12px;
  width: 175px;
  margin: 0;
  padding: 12px 10px 12px 15px;
  border: solid 2px #FD5757;
  border-radius: 20px 0 0 20px;
}

.search-bar .dropdown, .search-bar .search, .icon {
  position: fixed;
  height: 40px;
  width: 50px;
  background-color: #FD5757;
  color: #fff;
}

.dropdown {
  left: 900px;
}

.icon {
  left: 950px;
  border-right: solid 2px #fff;
  border-left: solid 2px #fff;
}

.search-bar .dropdown .dropdown-content {
  position: relative;
  display: none;
  width: 180px;
  border-radius: 0 10px 10px 10px;
}

.dropdown .dropdown-content button {
  list-style-type: none;
  width: 175px;
  height: 50px;
  margin: 0;
  background-color: #fff;
  border: solid 1px darkgrey;
  color: #464646;
  font-weight: bold;
}

.dropdown .dropdown-content button:hover {
  background-color: #FD5757;
  color: white;
}

#first-button {
  border-radius: 0 10px 0 0;
}

#last-button {
  border-radius: 0 0 10px 10px;
}

.dropdown-content button mat-icon {
  padding-right: 10px;
}

.search-bar .dropdown:hover {
  height: 40px;
  margin: 0;
}

.search-bar .dropdown:hover .dropdown-content {
  display: inline-block;
  position: relative;
  margin-top: 12px;
}

.search-bar .search {
  border-radius: 0 20px 20px 0;
  left: 1000px;

}

a.watermelon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-checkbox {
  padding-left: 1em;
}
