<div class="top-nav">
  <a class="watermelon" routerLink="/">
    <img src="favicon.ico" style="padding-right: 10px; padding-left: 20px" height="25px" />
    <span>Watermelon</span>
  </a>

  <!-- Search bar -->
  <div class="search-bar">
      <input type="text" placeholder="Rechercher" [formControl]="search">

      <button class="dropdown">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <div class="dropdown-content">
          <!--  [(ngModel)]="nom" et "lieu" -->
          <button id="first-button">
            <mat-icon>place</mat-icon>
            Lieu
          </button>
          <button>
            <mat-icon>text_format</mat-icon>
            Nom
          </button>
          <button> 
            <mat-icon>event</mat-icon>
            Date unique
          </button>
          <button id="last-button">
            <mat-icon>date_range</mat-icon>
            Plage de dates
          </button>
        </div>
      </button>

      <button class="icon">
        <mat-icon>text_format</mat-icon>
        <!--  <mat-icon>place</mat-icon>
          <mat-icon>date_range</mat-icon>
          <mat-icon>event</mat-icon> -->
      </button>

      <button class="search" (click)="searchEvents()">
        <mat-icon>search</mat-icon>
      </button>

  </div>

  <!-- Notifcations -->

  <div class="notif-number">2</div>
  <div class="notif-bell">
    <mat-icon>notifications_none</mat-icon>
    
    <!--
    <div ng-app="demo" ng-controller="myCtrl">
      <select ng-model="selectedName" ng-options="x for x in names">
      </select>
    </div>
    -->
  </div>
  

</div>

<!-- Side navigation -->

<mat-sidenav-container class="main-nav">
  <mat-sidenav-content class="example-sidenav">
    <mat-toolbar class="mat-toolbar-main">

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/list-user">
            <button class="nav-element">
              <mat-icon>event_note</mat-icon>
              Mes événements
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/profile">
            <button class="nav-element">
              <mat-icon>perm_identity</mat-icon>
              Mon profil
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <button class="nav-element" (click)="createEvent()">
            <mat-icon>playlist_add</mat-icon>
            Créer un événement
          </button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/search/_">
            <button class="nav-element">
              <mat-icon>add_location</mat-icon>
              Découvrir
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="!isLoggedIn">
          <a routerLink="/login/">
            <button class="nav-element">
              <mat-icon>fingerprint</mat-icon>
              <span>Sign in</span>
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="!isLoggedIn">
          <a routerLink="/register/">
            <button class="nav-element">
              <mat-icon>accessibility_new</mat-icon>
              <span>Register</span>
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <button class="nav-element" (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Se déconnecter</span>
          </button>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>