

.top-nav {
  background-color: #47D278;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

a.watermelon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.example-icon {
  padding: 0 14px;
}

.notification {
  background-color: #47D278 !important;
  display: inline-block;
  margin-top: 0.5em;
  font-size: 0.7em;
  position: fixed;
  right: 27em;
}

.search-bar {
  display: inline-block;
  margin-top: 0.5em;
  font-size: 0.7em;
  position: fixed;
  right: 1em;
}

.search {
  width: 1em;
  padding: 0 2em 0 1em;
}

mat-checkbox {
  padding-left: 1em;
}

.main-nav {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
}

.example-sidenav {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: #47D278;
} 

.mat-toolbar-main {
  margin-top: 50px;
  background-color: #47D278;
}

.nav-element {
  background-color: #47D278;
  color: #fff;
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
}

.nav-element:hover {
  background-color: rgba(71, 210, 118, 0.5);
}

.nav-element mat-icon {
  vertical-align: middle;
  padding-right: 15px;
}

button, button:active {
  border: none;
}

/* Search bar */

.top-nav {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #47D278;
  margin: none;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}

form, .bar, .div-dropdown, .search-button {
  display: inline-block;
  margin: 0;
}

.search-bar {
  display: inline-block;
  height: 40px;
  position: fixed;
  top: 10px;
  left: 700px;
}

.search-bar input {
  position: fixed;
  height: 12px;
  width: 175px;
  margin: 0;
  padding: 12px 10px 12px 15px;
  border: solid 2px #FD5757;
  border-radius: 20px 0 0 20px;
}

.search-bar .dropdown, .search-bar .search, .icon {
  position: fixed;
  height: 40px;
  width: 50px;
  background-color: #FD5757;
  color: #fff;
}

.dropdown {
  left: 900px;
}

.icon {
  left: 950px;
  border-right: solid 2px #fff;
  border-left: solid 2px #fff;
}

.search-bar .dropdown .dropdown-content {
  position: relative;
  display: none;
  width: 180px;
  border-radius: 0 10px 10px 10px;
}

.dropdown .dropdown-content button {
  list-style-type: none;
  width: 175px;
  height: 50px;
  margin: 0;
  background-color: #fff;
  border: solid 1px darkgrey;
  color: #464646;
  font-weight: bold;
}

.dropdown .dropdown-content button:hover {
  background-color: #FD5757;
  color: white;
}

#first-button {
  border-radius: 0 10px 0 0;
}

#last-button {
  border-radius: 0 0 10px 10px;
}

.dropdown-content button mat-icon {
  padding-right: 10px;
}

.search-bar .dropdown:hover, .notif-bell:hover {
  height: 40px;
  margin: 0;
}

.search-bar .dropdown:hover .dropdown-content {
  display: inline-block;
  position: relative;
  margin-top: 12px;
}

.search-bar .search {
  border-radius: 0 20px 20px 0;
  left: 1000px;

}

a.watermelon {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-checkbox {
  padding-left: 1em;
}

/* Notifications */

.notif-number, .notif-bell {
  position: fixed;
  top: 10px;
}

.notif-number {
  margin-top: 5px;
  right: 75px;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  color: #FFF;
  background-color: #FD5757;
  border-radius: 100%;
}

.notif-bell {
  right: 40px;
  background: none !important;
}

.notif-bell mat-icon {
  color: #FD5757;
  padding: 0;
  font-size: 38px;
}

.notif-bell #notif-menu {
  max-width: 400px;
}

.container-all {
  border-bottom: solid 2px #FD5757;
}

/* notif-info-menu */
.notif-info-menu{
  position: relative;
  height: 60px;
  z-index: 1;
}    

.notif {
  padding-right: 40px;
  background: 0;
  font-weight: bold;
}

/* notif-invit-menu */

  .notif-icons {
    font-size: 30px;
    margin: 20px;
    color: #FD5757;
    vertical-align: middle;
    float: left;
  }

  .notif-text {
    padding-top: 40px;
    font-size: 14px;
  }
  
  .notif {
    font-weight: bold;
  }
  
  .accept {
      color:  #47D278; 
      float: left;
  }

  .refuse {
      color: #FD5757; 
  }

  .notif-button{
    height:30px;
    width: 100%;
    color: white;
    background-color: #FD5757;
    border: solid 2px #FD5757;
  }