<div class="top-nav">
  <a class="watermelon" routerLink="/">
    <img src="favicon.ico" style="padding-right: 10px; padding-left: 20px" height="25px" />
    <span>Watermelon</span>
  </a>

  <!-- Search bar -->
  <div class="search-bar">
      <input type="text" placeholder="Rechercher" [formControl]="search">

      <button class="dropdown">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <div class="dropdown-content">
          <!--  [(ngModel)]="nom" et "lieu" -->
          <button id="first-button">
            <mat-icon>place</mat-icon>
            Lieu
          </button>
          <button>
            <mat-icon>text_format</mat-icon>
            Nom
          </button>
          <button> 
            <mat-icon>event</mat-icon>
            Date unique
          </button>
          <button id="last-button">
            <mat-icon>date_range</mat-icon>
            Plage de dates
          </button>
        </div>
      </button>

      <button class="icon">
        <mat-icon>text_format</mat-icon>
        <!--  <mat-icon>place</mat-icon>
          <mat-icon>date_range</mat-icon>
          <mat-icon>event</mat-icon> -->
      </button>

      <button class="search" (click)="searchEvents()">
        <mat-icon>search</mat-icon>
      </button>

  </div>

  <!-- Notifcations -->
    <div class="notif-bell">
        <button mat-button [matMenuTriggerFor]="menu" (click)="getNotifications()">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu width="400px" id="notif-menu" #menu="matMenu">
          <div *ngFor="let notification of notificationList" class="container-all">
            <div *ngIf='notification.Type == "invitation"'>
              <section class="notif-invit-menu">
                <br>
                <span class="notif-icons material-icons" aria-hidden="true">insert_invitation</span>
                <span class="notif-text"><b>{{notification.From}}</b> vous a invité(e) a son événement <b>{{eventNameList[notification.Id]}}</b></span>
              </section>
            </div>
            <div *ngIf='notification.Type != "invitation"'> 
              <section class="notif-info-menu">
                <span class="notif-icons material-icons" aria-hidden="true">info</span>
                <span class="notif-text">{{notification.About}}</span>
              </section>
            </div>
        
            <div *ngIf='notification.Type == "invitation"'>
                <br>
                <button class="notif accept" (click)="acceptInvite(notification)">Accepter</button>
                <button class="notif refuse" (click)="refuseInvite(notification)">Refuser</button>
                <br><br>  
            </div>
            <div *ngIf='notification.Type != "invitation"'>
                <br>
                <button class="notif accept" (click)="validateNotif(notification)">OK</button>
                <br>
            </div>
          </div>  
          <div *ngIf="isLoggedIn">
            <a routerLink="/notifications">
              <button class="notif-button">
                Voir toutes les notifications
              </button>
            </a>
          </div>
        </mat-menu>

      </div>
    </div>
      
<!-- Side navigation -->

<mat-sidenav-container class="main-nav">
  <mat-sidenav-content class="example-sidenav">
    <mat-toolbar class="mat-toolbar-main">

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/list-user">
            <button class="nav-element">
              <mat-icon>event_note</mat-icon>
              Mes événements
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/profile">
            <button class="nav-element">
              <mat-icon>perm_identity</mat-icon>
              Mon profil
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <button class="nav-element" (click)="createEvent()">
            <mat-icon>playlist_add</mat-icon>
            Créer un événement
          </button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/notifications">
            <button class="nav-element">
              <mat-icon>notifications</mat-icon>
              Notifications
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <a routerLink="/search/_">
            <button class="nav-element">
              <mat-icon>add_location</mat-icon>
              Découvrir
            </button>
          </a>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="!isLoggedIn">
            <button class="nav-element" (click)="Login()">
              <mat-icon>fingerprint</mat-icon>
              <span>Sign in</span>
            </button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="!isLoggedIn">
            <button class="nav-element" (click)="Register()">
              <mat-icon>accessibility_new</mat-icon>
              <span>Register</span>
            </button>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row style="height: 2em">
        <div *ngIf="isLoggedIn">
          <button class="nav-element" (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Se déconnecter</span>
          </button>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
