a {
  text-decoration: none;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}

.example-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}


.spacer-left {
  flex: 1.15 1 auto;
}

a {
  outline: none;
  text-decoration: none;
  color: white;
}

.picture {
  width: 35px;
  height: auto;
}

.example-margin {
  margin: 0 10px;
}