<app-nav-component></app-nav-component>

<body>

  <h3 class="title">Mes événements</h3>
  <div *ngFor="let event of eventList" class="container-all">

    <div class="card-event-admin">
      <div class="header" (click)="goToEvent(event.Id)">
        <h3>{{event.Name}}</h3>                  
      </div>
      <div class="primary-content">
            <br>
            <p class="date-time">{{event.Date | date: 'short'}}</p>
            <p>{{event.Address}}</p>
      </div>                  
      <div *ngIf="event.Owner == username" class="buttons">
        <button class="mdc-fab icons delete" (click)="delEvent(event.Id)">
          <span class="mdc-fab__icon material-icons">delete_outline</span>
        </button>
        <button class="mdc-fab icons edit" (click)="editEvent(event.Id)">
          <span class="mdc-fab__icon material-icons">edit</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Publicité -->
  <div class="card-event-admin publicite">
    <p>Publicité</p>
  </div>
  <br>

</body>