a {
    outline: none;
    text-decoration: none;
    color: white;
}

body {
    background-color: #5dad5d;
}

.delete {
    background-color: red; 
}

.edit {
    background-color: rgb(58, 58, 194); 
}

mat-expansion-panel {
    margin-bottom: 1em;
}