body {
    height: auto;
    width: 79%;
    margin-top: 6em;
    margin-left: 300px;
    background-color: #fff;
}

h3 {
    color: grey;
}

.events mat-card {
    width: 200px;
    max-width: 250px;
    margin-bottom: 1em;
}

.delete {
    background-color: grey;
}

.edit {
    background-color: #47D278; 
}

.event-title {
    background-color: #FD5757;
}

p {
    color: grey;
}
