<app-nav-component></app-nav-component>

<div style="padding-top: 0.01em;">
<!-- <mat-card class="profile-card">
  <mat-card-header>
    <mat-card-title>{{ username }}</mat-card-title>
    <mat-card-subtitle>{{ email }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="profile_picture" [src]="profile_picture" alt="Profil Picture">
    <mat-card-content>
      <p>
        You, {{username}} are a proud member of the watermelon gang since {{ creation_date  | date:'medium' }}.
      </p>
      <p>
        Your phone number : {{ phone }}.
      </p>
      <p>
        Your facebook : {{ facebook }}.
      </p>
      <p>
        If any of this information are outdated, please consider changing them below.
      </p>
      <button mat-raised-button style="float: left"  color="warn" (click)="postNewProfile()">UPDATE PROFIL</button>
    </mat-card-content>
  </mat-card> -->

<div style="padding-top: 4em;">
    <div class="col-md-7 header-right">
      <h6>Profile page</h6>
    </div>

    <img src="/assets/avatar_placeholder_large.png" class="profile-picture">

    <form class="form-style-7">
        <ul>
        <li>
            <label for="pseudo">Pseudonyme</label>
            <input type="text" name="pseudo" value={{username}} maxlength="100">
        </li>
        <li>
            <label for="name">Nom</label>
            <input type="text" name="name" value={{name}} maxlength="100">
        </li>
        <li>
            <label for="surname">Prénom</label>
            <input type="text" name="surname" value={{surname}} maxlength="100">
        </li>
        <li>
            <label for="email">Email</label>
            <input type="email" name="email" value={{email}} maxlength="100">
        </li>
        <li>
            <label for="birth date">Date de naissance</label>
            <input type="date" name="birthdate" value={{birthdate}}>
        </li>
        <li>
            <label for="phone">Numéro de téléphone</label>
            <input type="phone" name="url" maxlength="100">
        </li>
        <li>
            <label for="bio">About You</label>
            <textarea name="bio" onkeyup="adjust_textarea(this)"></textarea>
            <span>Say something about yourself</span>
        </li>
        <li>
            <label for="website">Votre site web</label>
            <input type="text" name="website" value={{website}} maxlength="100">
        </li>
        <li>
            <label for="facebook">Facebook linked</label>
            <input type="text" name="facebook" value="No"  maxlength="100" disabled>
        </li>
        <li>
            <label for="date">Date joined</label>
            <input type="text" name="date" value="{{ creation_date  | date:'medium' }}"  maxlength="100" disabled>
        </li>
        <li>
            <input type="submit" (click)="postNewProfile()" value="Save changes">
        </li>
        </ul>
        </form>
      </div>
