.all {
	background-color: #fff;
	position: absolute;
	top: 4em;
	left: 500px;
}

.profile-card {
    max-width: 400px;
}

/*-- Profile picture centered --*/
.profile-picture {
    height: 125px; 
    width: 125px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
}

.upload {
	padding: 10px 15px;
	color: #fff;
	background-color: #FD5757;
}

/*--Form style--*/

input {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family:  Arial, Helvetica, sans-serif;
}

.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}

.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}

.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}

.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}

.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #FD5757;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="facebook"],
.form-style-7 input[type="time"],
.form-style-7 input[type="phone"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;;
}

.form-style-7 li > span{
	background: #FF7676;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.form-style-7 textarea{
	resize:none;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #FD5757;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	color: #fff;
}

.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #FF7676;
	color:#fff;
}

.form-style-7 input:focus,
.form-style-7 input:focus
{
    border: none;
    border-bottom: 3px solid #FD5757;
	border-radius: 3px;
	box-shadow: 0 0 5px #FD5757;
	border: 1px solid #FD5757;
}