.card-edit-event {
    width: 550px;
    height: 300px;
    color: #333333;
    border: solid 2px #FD5757;
    padding: 0;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

input {
  color: #333;
  border: 0;
  padding: 5px;
  width: 250px;
  border-bottom: solid grey 1px;
}

input::placeholder {
  color: #333;
}

.date {
  margin-top: 15px;
  margin-left: 37px;
}

mat-datepicker-toggle {
  color:  #FD5757 !important;
}

.header {
    width: 552px;
    padding-bottom: 20px;
    border-radius: 20px 20px 0 0;
    background-color: #FD5757;
    margin: -2px;
}
  
  .header input {
    margin-top: 15px;
    color: #fff;
    background-color: #FD5757;
    border: none;
    border-bottom: solid 2px #fff;
    text-align: center;
    padding: 5px;
    font-size: 26px;
  }

  .header input::placeholder {
    color: #fff;
  }
  
    .header h3 {
      padding-top: 10px;
    }
    
    .primary-content {
      margin-top: 10px;  
    }
    
    .primary-content p {
      font-size: 14px;
    }
    
    .date-time {
      font-weight: bold;
    }
  
  .buttons {
      margin: 0 auto;
      margin-top: 70px;
  }
  
  .buttons button {
    padding: 15px 35px;
    color: #333333;
  }

  .public {
    border-radius: 20px 0 0 20px;
  }

  .prive {    
    border-radius: 0 20px 20px 0;
  }

  .active {
    border: solid 1px #333;
    background-color: white;
    color: #333333;
  }

  .non-active {
    background-color: #FD5757;
    border: solid 1px #FD5757;
  }