<section>
    <div class="mdc-card demo-card card-edit-event">
      <div class="header">
        <input value="{{title}}">        
      </div>
      <div class="primary-content">
          <input value="{{place}}">
          <p>{{date}}</p>
          <p>{{time}}</p>
        
            <!-- Date picker 
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="20/11/2020">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

             Time picker 
            <mat-form-field>
              <input matInput [matTimepicker]="picker" placeholder="12:00 AM">
            </mat-form-field>   -->
      </div>       
          
      <div class="mdc-card__actions buttons">
        <div class="mdc-card__action-buttons">
          <button class="mdc-button mdc-button--raised pub">
            Public
          </button>
          <button class="mdc-button mdc-button--outlined priv">
            Privé
          </button>

      </div>
     </div>
     </div>
</section>