<section>
    <div class="card-edit-event">
      <div class="header">
        <input style matInput placeholder="{{nameEvent}}" [formControl]="eventname" required>
        <button mat-button color="#FD5757" (click)="editName()">
          <span class="mdc-fab__icon material-icons">edit</span>
        </button>
      </div>
      
      <div class="primary-content">
        <input style matInput placeholder="{{addressEvent}}" [formControl]="eventaddress" required>
        <button mat-button color="#FD5757" (click)="editAddress()">
          <span class="mdc-fab__icon material-icons">edit</span>
        </button>

        <input class="date" matInput [(ngModel)]="dateEvent" [matDatepicker]="picker" placeholder="20/11/2020">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <button mat-button color="#FD5757" (click)="editDate()">
          <span class="mdc-fab__icon material-icons">edit</span>
        </button>
  <!--        <input matInput [matTimepicker]="picker" placeholder="12:00"> -->
      </div>       
          
        <div class="buttons">
          <!-- select class active or non-active -->
          <button class="public non-active">
            Public
          </button>
          <button class="prive active">
            Privé
          </button>
     </div>
     </div>
</section>