<app-nav-component ></app-nav-component>

<body>

  <h3>Découvrir</h3>
  <h5>Evénements publics</h5>
  <div *ngFor="let event of eventList" class="container-all">
    <mat-card class="events">
      <mat-card-title>
        <button class="event-title" mat-stroked-button (click)="goToEvent(event.id)">
          {{event.get('eventName')}}
        </button>
      </mat-card-title>

      <p>
        {{event.get('dateEvent')  | date: 'short'}}
      </p>
      <p>
        {{event.get('address')}}
      </p>

      <mat-card-content>
        <button class="join" mat-stroked-button (click)="joinEvent(event.id)">
          Rejoindre l'event
        </button>
      </mat-card-content>
    </mat-card>
    <br>
  </div>
    <!-- Publicité -->
    <mat-card class="events">
      <mat-card-content>
        <p>Publicité</p>
      </mat-card-content>
    </mat-card>
    <br>
</body>