body {
    height: auto;
    width: 79%;
    margin-top: 6em;
    margin-left: 300px;
    background-color: #fff;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

.join {
    background-color: #47D278; 
}

.edit {
    background-color: rgb(58, 58, 194); 
}

mat-expansion-panel {
    margin-bottom: 1em;
}