.event-header {
    width: 100%;
    background-color: #FD5757;
    color: #fff;
    padding: 25px;
}
    
    .title {
      font-size: 50px;
    }
    
    .date-time, .address {
      text-align: right;
    }
    
    .social {
      border-radius: 30px;
      padding: 10px 12px;
      margin-top: 15px;
      color: #fff;
    }
    
    .facebook, .twitter {
      color: #fff;
      font-weight: bold;
      padding: 10px 19px;
      font-size: 22px;
    }

    .facebook {
      background-color: #3b5998;
      margin-right: 10px;
    }
  
    .twitter {
      background-color: #55acee;
    }
  
    .edit {
      float: right;
      background-color: #47D278;
    }

    /* List objects */

    .list-object {
      margin-left: 25px;
    }

    .list-object h2 {
      padding-left: 10px;
      color: #FD5757;
    }

    .empty {
      width: 70px;
    }

    .last {
      text-align: center;
    }

    .plus {
      text-align: right;
    }

    .status {
      padding: 10px;
      border-radius: 20px;
    }
    
    .green {
      height:1px;
      width:1px;
      background-color: #47D278;    
    }
    
    .red {
      height:1px;
      width:1px;
      background-color: #FD5757;
    }
  
    .orange {
      height:1px;
      width:1px;
      background-color: #FE985E;    
    }

    table {
      border-spacing: 0px;
    }

    .first td {
      border-bottom: solid #FD5757 1px; 
      color: #FD5757;
    }

    .add {
      color: #FD5757;
      border: 0;
      background: 0;
      font-size: 26px;
    }

    th {
      text-align: left;
      color: grey;
      font-size: 14px;
      font-weight: normal;
      padding: 10px;
    }

    td {
      padding: 10px;
      border-bottom: solid lightgrey 1px; 
    }
