<app-nav-component></app-nav-component>

<body>
    <div class="outline">
      <h3 align="center">Réinitialiser ses identifiants</h3>

      <h4>Veuillez entrez votre email</h4>
      <form class="form-style-7">
        <ul>
          <li>
            <label for="email">Email</label>
            <input type="email" value="">
          </li>
          <li>
            <input type="submit" (click)="resetIdentifier()" value="Envoyer">
          </li>
        </ul>
      </form>
    </div>
</body>
