<h3>Inviter des amis</h3>
<!-- <button mat-button class="invite" color="primary"(click)="invite()">Inviter un(e) ami(e)</button> -->
<!--<a class="invite" ng-href="mailto:?subject=Nouvelle%20invitation%20!&amp;body=Bonjour%2C%0ATu%20es%20invit%C3%A9(e)%20%C3%A0%20l'%C3%A9v%C3%A9nement%20" + {{ _event }} + "%20par%20" + {{ _myName }} + "%2C%20le%20" + {{ _date }} + "%20au%20" + {{ _place }} + "%20%C3%A0%20" + {{ _time }} + "%20!%0AEst-ce%20que%20%C3%A7a%20t'int%C3%A9resse%20%3F">Inviter un(e) ami(e)</a>
-->
<a class="invite" href="{{mail}}">Inviter un(e) ami</a>

